<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejs + Nodejs</title>

  <style type="text/css">
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #F0F0F5;
      font-family: sans-serif;
    }

    header, main, footer {
      width: 70%;
      margin: 0 auto;

      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
    }

    header {
      height: 70px;
      background-color: #04D361;
    }

    main{
      height: 300px;
      background-color: #FFF;
    }

    footer {
      height: 50px;
    }
  </style>
</head>