<!DOCTYPE html>
<html lang="en">
  <%- include('../pastials/head'); %>

  <body>
    <%- include('../pastials/header', {page: 'about'}); %>

    <main>
      <section>
        <h2>Sobre nós</h2>

        <p>Leia sobre nós</p>
      </section>
    </main>

    <%- include('../pastials/footer'); %>
  </body>
</html>